:root {
  --body-font-family: Tahoma, sans-serif;
  --body-text-color: #000;
  --body-background-color: #f2f2f2;
  --sandbox-container-background-color: #d9d9d9;
  --button-background-color: #04AA6D;
  --button-background-color-focus: #03744B;
  --button-border-radius: 5px;
  --button-text-color: #fff;
  --table-odd-children-background-color: #fff;
  --table-even-children-background-color: #F7F7F7;
  --table-heading-background-color: #fff;
  --table-border: #E7E9EB;
}

body {
  /*background-color: var(--body-background-color);*/
  /*color: var(--body-text-color);*/
  margin: 1;
  padding: 1;
  font-family: var(--body-font-family);
  letter-spacing: 1px;
}
.accordion {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 1px;
}

.accordionActive, .accordion:hover {
  background-color: #555;
  /*color:rgb(0, 236, 75)*/
}

.accordionContent {
  padding: 0 5px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.accordionOpen {
  display: block;
}
.box {
  border: 1px solid black;
}
caption {
  caption-side: top;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

.column {
  flex: 30%;
  padding: 5px;
}
dialog{
  width: 60%
}
dialog::backdrop {
  backdrop-filter:blur(1px);
}
.divBox{
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  margin: 1;
}

.fixTableHead {
  overflow-y: auto;
  height: 360px;
}
        
.fixTableHead thead th {
    position: sticky;
    top: 0;
}
.key  {
  margin-right:3px;
  border-style:solid;
  border-width:2px;
  font-size: .9rem;
}
.messageInfo {
  background: lightgreen;
}
.messageWarning {
  background: lightgoldenrodyellow
}
.messageError {
  background: red
}
label{
  padding-right: 20px;
}
nav {
    margin:1px;
    /* border:2px grey; */
    background:black;
    outline:solid grey 5px;
}
nav > span {
    margin:5px;
    outline:solid white 2px;
    /* border:2px solid lightgreen; */
    background:lightgray;
}
.planningTableAllSelectAllGo {
  background-color: green;
}
.planningTableAllSelectNoneGo {
  background-color: red;
}
.planningTableAllSelectSomeGo {
  background-color: yellow;
}
.planningTableSomeSelectAllGo {
  background-color: lightgreen;
}
.planningTableSomeSelectNoneGo {
  background-color: palevioletred;
}
.planningTableSomeSelectSomeGo {
  background-color: #ecec74;
}
.planningTableCenter {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size:.9rem;
  width:600px;
}
.planningTableRow{
    border-bottom: 1pt solid black;
}
.planningTdCenter{
  text-align: center;
  vertical-align: middle;
}
.row {
  display: flex;
  margin-right:-5px;
}
.spanCenter {
  display:table;
  margin-left:auto;
  margin-right:auto;
}
.tableCenter {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: lightgoldenrodyellow;
}
.tableCenter tr:nth-child(even) {
  background-color: #D6EEEE;
}
.tdCenter{
  text-align: center;
  vertical-align: middle;
}
th{
  text-align: left;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}